payment-management-angular/.settings/*
payment-management-angular/.project
payment-management-angular/.classpath
payment-management-angular/src/main/resources/static/build/*
payment-management-angular/src/main/resources/static/node_modules/*
payment-management-batch/.settings/*
payment-management-batch/.project
payment-management-batch/.classpath
payment-management-core/.settings/*
payment-management-core/.project
payment-management-core/.classpath
payment-management-webapp/.settings/*
payment-management-webapp/.project
payment-management-webapp/.classpath
target/
.idea/
.project
.settings/*
.metadata/*
*.iml
*.log