<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- BEGIN APPLICATION STYLESHEET -->
	<link rel="stylesheet" th:href="@{./build/style.css}"/>
	<!-- END APPLICATION STYLESHEET -->
</head>
<body>
	<div class="container">
		<form th:action="@{/login}" method="POST">
			<h3 class="form-signin-heading">Bem-Vindo</h3>
			<div th:if="${param.error}" class="alert alert-danger">
				<a th:href="@{/login}" class="close">×</a>
				<strong>Erro!</strong> Usuário ou senha inválidos.
			</div>
			<input id="username" name="username" type="text" th:placeholder="Usuário" class="form-control"/> <br/>
			<input id="password" name="password" type="password" th:placeholder="Senha" class="form-control"/> <br/>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>
	</div>
</body>
</html>