<div class="container" data-ng-init="vm.onInit()">
  <div class="title-page text-center">
    <h3>{{ 'application.contributor.register.label.title' | translate }}</h3>
  </div>
  <div class="col-lg-12">
    <div class="filters">
      <form class="col-lg-12">
        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <label for="contributorRegisterFieldName">
            {{ 'application.contributor.register.form.field.name' | translate }}
          </label>
          <input id="contributorRegisterFieldName" type="text" class="form-control" data-ng-model="vm.contributor.name">
        </div>
        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <div class="input-group">
            <label for="contributorRegisterFieldBirthDate">
              {{ 'application.contributor.register.form.field.birthDate' | translate }}
            </label>
            <input id="contributorRegisterFieldBirthDate" type="date" class="form-control" data-ng-model="vm.contributor.birthDate">
          </div>
        </div>
        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <label for="contributorRegisterFieldGender">
            {{ 'application.contributor.register.form.field.gender' | translate }}
          </label>
          <div id="contributorRegisterFieldGender">
            <label data-ng-repeat="gender in vm.genders" class="radio-inline">
              <input type="radio" data-ng-model="vm.contributor.gender" value="{{gender.value}}">{{gender.label | translate}}
            </label>
          </div>
        </div>

        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <label for="contributorRegisterFieldCivilState">
            {{ 'application.contributor.register.form.field.civilState' | translate }}
          </label>
          <select id="contributorRegisterFieldCivilState" class="form-control" data-ng-model="vm.contributor.civilState">
            <option data-ng-repeat="civilState in vm.civilStates" value="{{civilState.value}}">
              {{civilState.label | translate}}
            </option>
          </select>
        </div>
        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <label for="contributorRegisterFieldPartnerName">
            {{ 'application.contributor.register.form.field.partnerName' | translate }}
          </label>
          <input id="contributorRegisterFieldPartnerName" type="text" class="form-control" data-ng-model="vm.contributor.partnerName">
        </div>
        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <div class="input-group">
            <label for="contributorRegisterFieldMarriageDate">
              {{ 'application.contributor.register.form.field.marriageDate' | translate }}
            </label>
            <input id="contributorRegisterFieldMarriageDate" type="date" class="form-control" data-ng-model="vm.contributor.marriageDate">
          </div>
        </div>

        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <label for="contributorRegisterFieldAddress">
            {{ 'application.contributor.register.form.field.address' | translate }}
          </label>
          <input id="contributorRegisterFieldAddress" type="text" class="form-control" data-ng-model="vm.contributor.address">
        </div>

        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <label for="contributorRegisterFieldTelephone">
            {{ 'application.contributor.register.form.field.telephone' | translate }}
          </label>
          <input id="contributorRegisterFieldTelephone" type="number" class="form-control" data-ng-model="vm.contributor.telephone">
        </div>

        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <label for="contributorRegisterFieldCellphone">
            {{ 'application.contributor.register.form.field.cellphone' | translate }}
          </label>
          <input id="contributorRegisterFieldCellphone" type="number" class="form-control" data-ng-model="vm.contributor.cellphone">
        </div>

        <div class="col-xs-12">
          <div class="form-group pull-right">
            <a class="btn btn-primary" role="button" data-ng-click="vm.saveContributorOnClick()">
              {{ 'application.contributor.register.form.button.saveContributor' | translate }}
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>