<div class="container">
  <div class="title-page text-center">
    <h3>Cadastro de contribuinte</h3>
  </div>

  <div class="col-lg-12">
    <div class="filters">
      <form class="col-lg-12">
        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <label for="exampleInputEmail1">ID</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <label for="exampleInputEmail1">Nome</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>

        <div class="form-group col-xs-3 col-md-4 col-lg-4">
          <div class="input-group">
            <label for="exampleInputEmail1">Nascimento</label>
            <input type="datetime" class="form-control">
            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
          </div>
        </div>

        <div class="form-group col-xs-3 col-md-4 col-lg-4 pull-left">
          <label for="exampleInputEmail1">Sexo</label>
          <div>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Feminino
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Masculino
            </label>
          </div>
        </div>

        <div class="form-group col-xs-4 col-lg-4">
          <label for="exampleInputEmail1">Estado civil</label>
          <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
        </div>
        <div class="form-group col-xs-4 col-md-4 col-lg-4 pull-left">
          <label for="exampleInputEmail1">Nome do cônjuge</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>

        <div class="form-group col-xs-4 col-md-4 col-lg-4">
          <div class="input-group">
            <label for="exampleInputEmail1">Casamento</label>
            <input type="datetime" class="form-control">
            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
          </div>
        </div>

        <div class="form-group col-xs-12 col-md-4 col-lg-4 pull-left">
          <label for="exampleInputEmail1">Endereço</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>

        <div class="form-group col-xs-4 col-md-4 col-lg-4 pull-left">
          <label for="exampleInputEmail1">Telefone</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group col-xs-4 col-md-4 col-lg-4 pull-left">
          <label for="exampleInputEmail1">Celular</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12">

          <div class="form-group pull-left">
            <a class="btn btn-primary" href="#" role="button">+ Campanha</a>
          </div>

          <div class="table-responsive col-lg-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Talão</th>
                  <th>campanha</th>
                  <th>Lançamentos</th>
                  <th>Valor da contribuição</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>453</td>
                  <td>Dizimo</td>
                  <td>03</td>
                  <td>R$ 50,00</td>
                  <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                </tr>
                <tr>
                  <td>402</td>
                  <td>Rifa moto</td>
                  <td>03</td>
                  <td>R$ 50,00</td>
                  <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                </tr>
                <tr>
                  <td>405</td>
                  <td>Dizimo</td>
                  <td>03</td>
                  <td>R$ 50,00</td>
                  <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                </tr>
                <tr>
                  <td>407</td>
                  <td>Rifa moto</td>
                  <td>03</td>
                  <td>R$ 50,00</td>
                  <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="col-xs-12">
          <div class="form-group pull-right">
            <a class="btn btn-primary" href="#" role="button">Excluir</a>
          </div>
          <div class="form-group pull-right">
            <a class="btn btn-primary" href="#" role="button">Salvar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
