$colorDarkBrown: #2E1E06;
$colorMediumBrown: #482C01;
$colorLightBrown: #AD5400;
$colorLighterBrown: #D18200;
$colorYellow: #FDD400;
$colorOrange: #F26500;
$colorWhite: #fff;
$colorBlack: #000;

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
body {
  font-family: Arial;
  color: $colorBlack;
  background-color: $colorWhite;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding-bottom: 60px;
  min-height: 100%;
  position: relative;
}

header {
  .navbar-default {
    background-color: $colorMediumBrown;
    border-color: transparent;
    height: 120px;
  }

  .navbar-brand {
    height: auto;
    padding: 0 20px;
  }

  .navbar-nav, .navbar-nav > li {
    height: 100%;
  }

  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:hover {
    color: $colorWhite;
    height: 100%;
    align-items: center;
    display: flex;
    padding: 10px 22px;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    background-color: $colorLighterBrown;
    color: $colorWhite;
  }
}

.container {
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $colorMediumBrown;
  color: $colorWhite;
  clear: both;

  .text-footer {
    text-align: center;
    padding: 20px 0;
    margin: 0;
  }
}

.required:after {
  color: #e32;
  content: '*';
  display: inline;
}

.invalid {
  color: #cc0000;
}